.slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb,
.progress-slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb,
.volume-slider::-moz-range-thumb,
.progress-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider::-webkit-slider-track,
.volume-slider::-webkit-slider-track,
.progress-slider::-webkit-slider-track {
  background: transparent;
  height: 4px;
  border-radius: 2px;
}

.slider::-moz-range-track,
.volume-slider::-moz-range-track,
.progress-slider::-moz-range-track {
  background: transparent;
  height: 4px;
  border-radius: 2px;
}

.volume-slider:hover::-webkit-slider-thumb,
.progress-slider:hover::-webkit-slider-thumb {
  background: #60a5fa;
  width: 18px;
  height: 18px;
}

.volume-slider:hover::-moz-range-thumb,
.progress-slider:hover::-moz-range-thumb {
  background: #60a5fa;
  width: 18px;
  height: 18px;
}

.loadingSpinner {
  position: relative;
  width: 50px;
  height: 50px;
}

.spinnerRing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinnerRing:nth-child(1) {
  animation-delay: 0s;
}

.spinnerRing:nth-child(2) {
  animation-delay: 0.15s;
  border-top-color: #60a5fa;
}

.spinnerRing:nth-child(3) {
  animation-delay: 0.3s;
  border-top-color: #93c5fd;
}

.spinnerRing:nth-child(4) {
  animation-delay: 0.45s;
  border-top-color: #dbeafe;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
